<ion-content [fullscreen]="true">
  <div class="gradient-bg">
    <div class="container">
      
      <div class="logo-box">
        <img src="assets/logo_hipatec_roxo.png" alt="Hipatec" class="logo-img" />
      </div>

      <main>
        <!-- Lógica de dois estados utilizada, não achei necessário pensar em código de redefinir senha por agora, mas tudo aqui pode ser remodelado -->
        <!-- de acordo com a lógica futura, apenas criei uma para poder desenvolver a página -->
        <!-- ESTADO 1: Formulário de Email -->
        <ng-container *ngIf="!emailEnviado">
          <h2 class="login-title">Recuperar Senha</h2>
          <p class="auth-subtitle">Digite seu email abaixo para receber as instruções de recuperação.</p>

          <div class="input-group">
            <label>email</label>
            <input type="email" [(ngModel)]="email" placeholder="Digite seu email" />
          </div>

          <!-- Botão usando sua classe exata -->
          <button class="btn-login" (click)="enviarRecuperacao()">enviar instruções</button>
          
          <div class="login-footer-links" style="align-items: center; margin-top: 20px;">
            <a class="footer-link" routerLink="/login">Voltar ao login</a>
          </div>
        </ng-container>


        <!-- ESTADO 2: Mensagem de Segurança (Email Enviado) -->
        <ng-container *ngIf="emailEnviado">
          <div class="success-icon">
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          
          <h2 class="login-title" style="margin-bottom: 15px;">Verifique seu email</h2>
          
          <p class="auth-subtitle">
            Se o email <strong>{{ email }}</strong> estiver cadastrado em nosso sistema, você receberá um link com as instruções para redefinir sua senha.
          </p>

          <button class="btn-login" routerLink="/login" style="margin-top: 25px;">voltar ao login</button>
        </ng-container>

      </main>
    </div>
  </div>
</ion-content>